@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 11% 95%;
    --foreground: 222 84% 5%;
    --card: 150 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 150 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 168 56% 65%;
    --primary-foreground: 168 56% 15%;
    --secondary: 150 11% 90%;
    --secondary-foreground: 222 84% 5%;
    --muted: 150 11% 85%;
    --muted-foreground: 222 84% 25%;
    --accent: 25 73% 67%;
    --accent-foreground: 25 73% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 11% 88%;
    --input: 150 11% 88%;
    --ring: 168 56% 50%;
    --radius: 0.75rem;
    --chart-1: 168 76% 40%;
    --chart-2: 25 73% 60%;
    --chart-3: 210 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 222 84% 7%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 168 56% 65%;
    --sidebar-primary-foreground: 168 56% 15%;
    --sidebar-accent: 222 84% 12%;
    --sidebar-accent-foreground: 168 56% 65%;
    --sidebar-border: 222 84% 12%;
    --sidebar-ring: 168 56% 50%;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 7%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 168 56% 65%;
    --primary-foreground: 168 56% 15%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 210 40% 60%;
    --accent: 25 73% 67%;
    --accent-foreground: 25 73% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 168 56% 75%;
    --chart-1: 168 76% 40%;
    --chart-2: 25 73% 60%;
    --chart-3: 210 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 222 84% 5%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 168 56% 65%;
    --sidebar-primary-foreground: 168 56% 15%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 168 56% 65%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 168 56% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
